@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Libre Baskerville;
    overflow-x: hidden;
    /* margin-left: 5rem; */
}

a {
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    .whole {
        padding: 2rem;
    }
    footer {
        padding: 2rem;
    }
    .Testimonial {
        overflow-x: hidden;
    }
}